@font-face {
    font-family:'Ranga';
    src: url(font/Ranga-Regular.ttf) format("truetype");
}


/* style */

body{
    font: 30px/20px 'Ranga', 'arial';
    padding: 0;
    margin: 0;
    font: 20px "Ranga", 'arial';
    
}

h1{
    font-size: 100px;
    margin: 50 0;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px gray;

}

.container{
    width: 600px;
    background-color: deepskyblue;
    margin: 0 auto;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0 0 3px 5px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

.container .galeri li{
   list-style: none;
   width: 120px;
   height: 120px;
   border-radius: 50%;
   overflow: hidden;
   border: 3px solid darkgrey;
   float: left;
   margin-right: 10px;
   position: relative;
   
}

.galeri{
    padding-left: 30px;
}


.container .galeri li a{
    text-decoration: none;
    color: white;
}

.container .galeri li span{
     display: block;
     width: 120px;
     height: 120px;
     background-color: rgba(255, 255, 255,0.5);
     border-radius: 50%;
     position: absolute;
     top:0;
     text-align: center;
     line-height: 120px;
     text-shadow: 1px 1px 1px black;
     opacity: 0;
     transition: 300ms;
     transform: scale(0);
}

.container .galeri li a img{
    border-radius: 50%;
}


/* hover */
.container .galeri li a:hover span{
    opacity: 1;
    transform: scale(1) rotate(-360deg);
}
 

/* overlay */
.overlay{
    width: 0;
    height: 0;
    overflow: hidden;
    position: fixed;
    background: rgba(0, 0, 0, 0.0);
    z-index: 100;
    transition: 0.8s;
    text-align: center;
}

li .overlay:target{
    width: auto;
    height: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
}
 
.galeri li .overlay img{
    margin-top: 15%;
    box-shadow: 0 0 3px 3px rgba(255, 255, 255,0.5);
  
}

.overlay:target img{
    animation: zoom 1s;
}

.overlay:target {
    animation: closedown 1s;
}

.overlay a{
    position: absolute;
    top:40px;
    left: 50%;
    margin-left: -30px;
}




/* animation */

@keyframes zoom{
    0%{
        transform:scale{0};
        opacity: 0;
    }

    100%{
        transform:scale{1};
        opacity: 1;
    }
}


@keyframes closedown{
    0%{
        transform: scale(0);
        margin-top: -70px;
    }

    100%{
        transform: scale(0);
        margin-top: 0px;
    }
}

/* clearfix */

 .cf{
     clear: both;
 }